* {
    box-sizing: border-box;
    margin: 0 0 0 0;
}

@font-face {
    font-family: OWFont;
    src: url(../font/BITSUMIS.TTF);
}

/*NavBar Styles*/
header {
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    top: 0px;
    width: 100%; 
    background-color: white;   
    box-shadow: 0px 0px 25px;
    font-family:OWFont;
    z-index: 10;
    flex-flow:row ;
}

.navbar {
    display:inline-flex;
    font-size: 25px;
    font-weight: 500;
    padding: 40px;
}

header ul a:hover{
    display: inline-flex;
    color: white;
    background-color: darkorange;
}

header ul a li{
    display: flex;
    color: black;    
}

header ul a li:hover{
    color: white;
}


nav {
    display:inline-block
}


header a:link { 
    text-decoration: none; 
}

header a:visited { 
    text-decoration: none; 
}

header a:hover { 
    text-decoration: none; 
}

header a:active { 
    text-decoration: none; 
}


/*Body Style*/
body {
    position: relative;
    top: 100px;
}

.pagetitle {
    vertical-align: middle;
    position: relative;
}

.pagetitle .titlebanner {
    color: white;
    text-shadow: 1px 0px 15px black;
    top: 150px;
    font-size: 80px;
    position: absolute;
    margin: 0;
    height: 400px;
    width: 100%;
    font-family: OWFont;
    text-align: center;
    z-index: 1;
}

.pagetitle .titlebannerimage {
    padding-top: 10px;
    background-image: url(../photos/OVR_Anniversary_2018_021.0.webp);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    position: absolute;
    margin: 0 0;
    height: 400px;
    width: 100%;
    display: block;
}

.pagetitle .divider {
    z-index: 2;
    position:relative;
    background-color: darkorange;
    top: 400px;
    box-shadow: 0px 0px 20px;
    border-top: 10px solid darkorange;
    border-radius: 7px;
    display: block;
}
.divider-top {
    z-index: 2;
    position:relative;
    background-color: darkorange;
    top: 5px;
    box-shadow: 0px 0px 20px;
    border-top: 10px solid darkorange;
    border-radius: 7px;
    display: block;
}

.mainbody {
    position: relative;
    top: 320px;
    font-weight: 900;
    display: block;
}

.tanks{
    height: 350px;
    top:-300px;
}

.tanks .tank-title {
    text-shadow: 1px 0px 15px black;
    position:relative;
    display: block;
    top: 200px;
    left: 300px;
    font-size: 80px;
    z-index: 1;
    color: white;
}

.tankbannerimage {
    padding-top: 0px;
    background-image: url(../photos/zarya3.jpg);
    background-position-y: -150px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    position: relative;
    margin: 0 0;
    height: 350px;
    width: 100%;
    display: block;
}

.tanks .divider {
    z-index: 2;
    position:relative;
    background-color: darkorange;
    top: px;
    box-shadow: 0px 0px 20px;
    border-top: 10px solid darkorange;
    border-radius: 7px;
    display: block;

}

.damage{
    height: 350px;
}

.damage-title {
    text-shadow: 1px 0px 15px black;
    position:relative;
    display: block;
    top: 200px;
    left: 1400px;
    font-size: 80px;
    z-index: 1;
    color: white;
}

.damagebannerimage {
    padding-top: 10px;
    background-image: url(../photos/overwatch-1645494985356-7375.jpg);
    transform: scaleX(-1);
    background-position-y: -180px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    position:relative;
    margin: 0 0;
    height: 350px;
    width: 100%;
}

.damage .divider {
    z-index: 2;
    position:relative;
    background-color: darkorange;
    top: px;
    box-shadow: 0px 0px 20px;
    border-top: 10px solid darkorange;
    border-radius: 7px;
    display: block;
}

.support{
    height: 350px;
}

.support-title {
    text-shadow: 1px 0px 15px black;
    position:relative;
    display: block;
    top: 210px;
    left: 150px;
    font-size: 80px;
    z-index: 1;
    color: white;
}

.supportbannerimage {
    padding-top: 10px;
    background-image: url(../photos/moira2.jpg);
    background-position-y: -200px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    position: relative;
    margin: 0 0;
    height: 350px;
    width: 100%;
}

.support .divider {
    z-index: 2;
    position:relative;
    background-color: darkorange;
    top: px;
    box-shadow: 0px 0px 20px;
    border-top: 10px solid darkorange;
    border-radius: 7px;
    display: block;
}

h2 {
    color: darkorange;
    font-family: OWFont;
}

.mainbody p {
    color: darkgrey;
    font-size: 25px;
    font-family: calibri;
    text-align: center;
}

.herolist-tank {
    color: darkgrey;
    display: block;
    position: absolute;
}

.herolist-dps {
    color: darkgrey
    display: block;
    position: absolute;
}

.herolist-support {
    color: darkgrey
    display: block;
    position: absolute;
}

